<server description="worklight">

    <featureManager>
        <feature>servlet-3.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jdbc-4.0</feature>
        <feature>localConnector-1.0</feature>
        <feature>restConnector-1.0</feature>
        <feature>jsp-2.2</feature>
        <feature>appSecurity-1.0</feature>
        <feature>ssl-1.0</feature>

<!--
        <feature>appSecurity-2.0</feature>
        <feature>ldapRegistry-3.0</feature>
-->
    </featureManager>

    <webContainer invokeFlushAfterService="false"/>
    <webContainer com.ibm.ws.webcontainer.suppressLoggingServiceRuntimeExcep="true"/>
    <webContainer deferServletLoad="false"/>

    <!-- non standard ports were used to avoid future collision with other WebSphere products. -->
    <httpEndpoint host="*" httpPort="10080" httpsPort="10443" id="defaultHttpEndpoint">
        <tcpOptions soReuseAddr="true"/>

    </httpEndpoint>

<!--  change Worklight server side logging: 
      change consoleLogLevel to INFO to see Worklight JavaScript Logger API output
      (for example: in Worklight Adapters).
-->
    <logging consoleLogLevel="AUDIT" copySystemStreams="false"/>

    <!-- enable next element for Worklight Server traces. 
         change traceSpecification to enable fine grain printing to trace.log file. 
    <logging traceSpecification="com.worklight.*=debug=enabled"/>
    -->

    <applicationMonitor updateTrigger="mbean"/>

    <!--
        Thread pool
    -->
    <executor coreThreads="200" id="default" keepAlive="60s" maxThreads="400" name="LargeThreadPool" rejectedWorkPolicy="CALLER_RUNS" stealPolicy="STRICT"/>

    <administrator-role>
       <user>admin</user>
    </administrator-role>

    <keyStore id="defaultKeyStore" password="worklight"/>

    <jndiEntry jndiName="ibm.worklight.admin.jmx.host" value="localhost"/>
    <jndiEntry jndiName="ibm.worklight.admin.jmx.port" value="10443"/>
    <jndiEntry jndiName="ibm.worklight.topology.platform" value="Liberty"/>
    <jndiEntry jndiName="ibm.worklight.topology.clustermode" value="Standalone"/>


<!--
	MobileFirst Console settings START ...
-->
    <basicRegistry id="worklight" realm="worklightRealm">
        <user name="demo" password="demo"/>
        <user name="monitor" password="demo"/>
        <user name="deployer" password="demo"/>
        <user name="operator" password="demo"/>
        <user name="admin" password="admin"/>
    </basicRegistry>
<!--
	JMX admin user JNDI entries
-->
    <jndiEntry jndiName="ibm.worklight.admin.jmx.user" value="admin"/>

    <jndiEntry jndiName="ibm.worklight.admin.jmx.pwd" value="admin"/>
<!--
	Disabling security integration
-->
    <httpSession securityIntegrationEnabled="false"/>
<!--
	Declare the IBM MobileFirst Admin Services application.
-->
    <application context-root="worklightadmin" id="worklight-management-service" location="worklight-management-service.war" name="WorklightServices" type="war">
        <application-bnd>
            <security-role name="worklightadmin">
                <user name="admin"/>
            </security-role>
                <security-role name="worklightdeployer">
                <user name="deployer"/>
            </security-role>
                <security-role name="worklightmonitor">
                <user name="monitor"/>
            </security-role>
                <security-role name="worklightoperator">
                <user name="operator"/>
            </security-role>
        </application-bnd>
        <classloader delegation="parentLast">
            <privateLibrary>
                <fileset dir="${wlp.install.dir}/lib" includes="com.ibm.ws.crypto.passwordutil*.jar"/>
            </privateLibrary>
        </classloader>
    </application>
<!--
	Declare the IBM MobileFirst Admin Console application.
-->
    <application context-root="worklightconsole" id="worklight-management-ui" location="worklight-management-ui.war" name="WorklightConsole" type="war">
        <application-bnd>
            <security-role name="worklightadmin">
                <user name="admin"/>
            </security-role>
                <security-role name="worklightdeployer">
                <user name="deployer"/>
            </security-role>
                <security-role name="worklightmonitor">
                <user name="monitor"/>
            </security-role>
                <security-role name="worklightoperator">
                <user name="operator"/>
            </security-role>
        </application-bnd>
    </application>
<!--
	Declare the IBM MobileFirst Analytics Services application.
-->
    <application context-root="worklight-analytics-service" id="worklight-analytics-service" location="worklight-analytics-service.war" name="WorklightAnalyticsServices" type="war">
        <application-bnd>
            <security-role name="worklightadmin">
                <user name="admin"/>
            </security-role>
                <security-role name="worklightdeployer">
                <user name="deployer"/>
            </security-role>
                <security-role name="worklightmonitor">
                <user name="monitor"/>
            </security-role>
                <security-role name="worklightoperator">
                <user name="operator"/>
            </security-role>
        </application-bnd>
    </application>
<!--
	Declare the IBM MobileFirst Analytics Console application.
-->
    <application context-root="worklight-analytics" id="worklight-analytics" location="worklight-analytics.war" name="WorklightAnalytics" type="war">
        <application-bnd>
            <security-role name="worklightadmin">
                <user name="admin"/>
            </security-role>
                <security-role name="worklightdeployer">
                <user name="deployer"/>
            </security-role>
                <security-role name="worklightmonitor">
                <user name="monitor"/>
            </security-role>
                <security-role name="worklightoperator">
                <user name="operator"/>
            </security-role>
        </application-bnd>
    </application>

    <library id="DerbyLib">
        <fileset dir="${wlp.user.dir}/shared/resources/derby" includes="derby.jar"/>
    </library>
<!--
	Declare the IBM MobileFirst Console admin database.
-->
    <dataSource jndiName="worklightadmin/jdbc/WorklightAdminDS" transactional="false">
        <jdbcDriver libraryRef="DerbyLib"/>
        <properties.derby.embedded createDatabase="create" databaseName="${wlp.user.dir}/shared/resources/derbyDB/WLADMIN" user="WLADMINISTRATOR"/>
    </dataSource>
<!--
	... MobileFirst Console settings END
-->


    

    

    

    

    

    <library id="worklight-6.3.0">
        <fileset dir="${wlp.user.dir}/shared/resources" includes="worklight-jee-library-6.3.0.jar"/>
        <fileset dir="${wlp.install.dir}/lib" includes="com.ibm.ws.crypto.passwordutil*.jar"/>
    </library>

    

    

    

    

    

    <application id="_MobileBrowserSimulator" location="_MobileBrowserSimulator.war" name="_MobileBrowserSimulator" type="war"/>

    

    

    

    

    

    <application context-root="/ReadyAppsSummit" id="ReadyAppsSummit" location="ReadyAppsSummit.war" name="ReadyAppsSummit" type="war">
        <classloader commonLibraryRef="worklight-6.3.0">
            <privateLibrary>
                <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="commons-logging-1.1.3.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="gson-2.2.4.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="slf4j-api-1.7.5.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="httpclient-4.3.3.jar"/>
                        <fileset dir="${wlp.user.dir}/shared/resources" includes="org.hsqldb.hsqldb_2.2.5.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="commons-codec-1.9.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="jackson-databind-2.3.1.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="jackson-core-2.3.1.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="cloudant-client-1.0.0.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="httpcore-4.3.2.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="jackson-annotations-2.3.1.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="async-http-client-1.6.1.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="slf4j-simple-1.7.5.jar"/>
                        <fileset dir="/Users/blakeball/workspace/ReadyAppsWorkspace/Ready.App.2.Summit/ReadyAppsSummit/server/lib" includes="commons-validator-1.4.0.jar"/>
            </privateLibrary>
        </classloader>
    </application>

    <jndiEntry jndiName="ReadyAppsSummit/wl.analytics.queue.size" value="1"/>

    <jndiEntry jndiName="ReadyAppsSummit/wl.analytics.url" value="http://localhost:10080/worklight-analytics-service/data"/>

    <jndiEntry jndiName="ReadyAppsSummit/wl.analytics.console.url" value="http://localhost:10080/worklight-analytics/console"/>

    <jndiEntry jndiName="ReadyAppsSummit/wl.analytics.username" value="admin"/>

    <jndiEntry jndiName="ReadyAppsSummit/wl.analytics.password" value="admin"/>
</server>