<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protocol</key> 
	<string>http</string>
	<key>host</key>
	<string>9.41.139.139</string>
	<key>port</key>
	<string>10080</string>
	<key>wlServerContext</key>
	<string>/ReadyAppsSummit/</string>
	<key>application id</key>
	<string>SummitiOS</string>
	<key>application version</key>
	<string>1.0</string>
	<key>environment</key>
	<string>iOSnative</string>
	<key>wlUid</key>
	<string>wY/mbnwKTDDYQUvuQCdSgg==</string>
	<key>platformVersion</key>
	<string>7.0.0.00.20150706-1910</string>
</dict>
</plist>
