/*
 *  Licensed Materials - Property of IBM
 *  © Copyright IBM Corporation 2015. All Rights Reserved.
 */

/*
 *  Defaults
 */

// Backgrounds
$default-bckgrnd-color:         #FFFFFF;
$gray-bckgrnd-color:            #EAEAEA;
$forestgreen-bckgrnd-color:     #129552;

// Text
$default-txt-color:             #404041;
$disabled-txt-color:            #d1d3d4;
$gold-txt-color:                #be9b00;

/*
 *  Buttons
 */

// Backgrounds
$darkyellow-btn-color:          #be9b00;
$yellow-btn-color:              #efc100;

// Text
$white-btntxt-color:            #fdfdfd;

/*
 *  Misc
 */

$disabled-star-color:           #c8d2d2;
$enabled-star-color:            #be9b00;
